[2015-03-19 15:30] bleege opened #5 "Create Mason Package"
Make library installable via [Mason](https://github.com/mapbox/mason).

/cc @kkaefer

[2015-03-19 15:32] bleege opened #6 "Integrate With iOS GL"
Integrate with iOS and OS X

https://github.com/mapbox/mapbox-gl-native

[2015-03-19 15:34] bleege opened #7 "Implement Metrics"
Implemented required metrics.

/cc @willwhite @camilleanne @edenh @mick

[2015-03-19 15:45] bleege opened #8 "Setup Travis Builds"
Get project building on Travis.

[2016-12-09 22:02] 1ec5 opened #1 "Factor out code common to Mapbox Swift libraries"
https://github.com/mapbox/MapboxGeocoder.swift/pull/91#issuecomment-266109595 suggests factoring out a core utility library for any code that needs to be shared among MapboxGeocoder.swift, MapboxDirections.swift, and MapboxStatic.swift. It would probably end up with geometric model objects, high-level networking code, and error handling, but everything is up in the air.

@incanus and I were trying

[2016-12-09 22:24] 1ec5 opened #2 "Monorepo"
As an alternative to the monolithic framework described in passing in #1, we could keep all the Mapbox Swift frameworks in a monorepo (this repository) and in the same Xcode workspace but still produce multiple frameworks. Installing this repository via Carthage would end up building all the frameworks, but a developer could still link against only the ones they want. Meanwhile, for CocoaPods user

[2016-12-09 22:25] 1ec5 commented on #1
Or we could merge everything into this repository and treat it as a monorepo for multiple frameworks: #2.

[2016-12-09 22:38] simonseyer commented on #2
Actually I thought about the same after reading #1. Sounds like a good approach.

[2016-12-10 10:12] simonseyer commented on #2
One thing we have to be aware of: Carthage only builds the first framework-project it finds in the repository ([source](https://github.com/Carthage/Carthage/issues/210#issuecomment-67038558 )).

I don't know if there is a way to circumvent this or even this even outdated, but we should do some investigation before making a decision about going this way.

[2016-12-10 19:08] 1ec5 commented on #2
Good point. According to https://github.com/Carthage/Carthage/issues/210#issuecomment-67040112 and https://github.com/Carthage/Carthage/issues/213#issuecomment-244420110, we can still have individual framework targets for each API, but they have to live in the same .xcodeproj. (We can use schemes to differentiate between platforms, as we do today.) Definitely something to double-check first.

[2016-12-11 10:49] simonseyer commented on #2
When merging the projects into one .xcodeproj it may be beneficial to move the build configuration in xcconfig files and use something like https://github.com/jensmeder/phoenx (disclaimer: developed by a former colleague, using it at COBI) to generate the project files.

This would have the benefit that all targets share the same build configuration (more reliable, easier to update) and that they

[2016-12-11 19:59] 1ec5 commented on #2
With the Mapbox iOS and macOS SDKs, which are currently part of a monorepo, we went with checking in the .xcodeproj files rather than generating them (mapbox/mapbox-gl-native#4641). However, we used .xcconfig files for the build settings needed to link the targets to another project that was generated by CMake. .xcconfig files are designed to work with checked-in .xcodeproj files.

For this projec

[2016-12-12 06:39] simonseyer commented on #2
Which is necessary when Carthage should be supported

We generate the project on the fly when checking out. The project then just references the checked-in .xcconfig files. However, this is not possible when having a lib as mentioned above.
The suggestion was rather to have the project generateable to easily solve merge conflicts when they occur. But this far from being a must-have, just a suggest

[2017-02-15 20:11] 1ec5 opened #3 "Map SDK helper library"
We should create a Swift library to massage some of the Objective-Cisms in the Mapbox iOS and macOS (map) SDKs and take better advantage of Swift-only language features.

The map SDKs are written in Objective-C (at least publicly) in part because distributing binary Swift frameworks isn’t supported yet. So the most we can do to massage the API in the map SDKs themselves would be to rename some met

[2017-05-23 21:58] boundsj commented on #3
This repo is going to be telemetry specific so closing this now. We can copy it over to the _actual_ swift core repo when that is created.

[2017-05-23 21:58] #3 closed, assigned to nobody

[2017-05-23 21:58] boundsj commented on #2
This repo is going to be telemetry specific so closing this now. We can copy it over to the _actual_ swift core repo when that is created.

[2017-05-23 21:58] #2 closed, assigned to nobody

[2017-05-23 21:58] boundsj commented on #1
This repo is going to be telemetry specific so closing this now. We can copy it over to the _actual_ swift core repo when that is created.

[2017-05-23 21:58] #1 closed, assigned to nobody

[2017-08-11 15:13] frederoni opened #9 "TrustKit crashes intermittently"
TrustKit crashes intermittently on this [line](https://github.com/mapbox/mapbox-events-ios/blob/master/vendor/TrustKit/Reporting/reporting_utils.m#L23)
It seems to happen more frequently when pushing new map view's into the navigation stack.
For example when going from overview into a turn-by-by navigation in the [mapbox/mapbox-navigation-ios](https://github.com/mapbox/mapbox-navigation-ios) examp

[2017-08-13 22:09] boundsj commented on #9
TrustKit appears to have a bug that can cause a crash when:

a) certificate validation fails for some reason
b) the reporting feature of TrustKit is used to report the failure

We did not intend to use the reporting feature of TrustKit at this time and will never use the default reporting URL. I disabled in https://github.com/mapbox/mapbox-events-ios/commit/d1626cd36ca4fb83ed399e045613357bd55e007b

[2017-08-13 22:09] #9 closed, assigned to nobody

[2017-08-13 22:25] boundsj commented on #9
Ticket opened upstream: https://github.com/datatheorem/TrustKit/issues/141

[2017-09-25 20:46] boundsj opened #12 "Rewrite tests in Cedar"
This project has used protocols and and custom fakes classes that implement those protocols to facilitate testing that requires integration with other classes the library provides and/or framework functionality. Although this has the benefit of not introducing any 3rd party testing frameworks as a project dependency, the downside is that not using a mocking framework makes the implementation more

[2017-10-18 20:40] rclee commented on #12
Cedar porting complete.

[2017-10-18 20:40] #12 closed, assigned to boundsj, rclee

[2017-11-10 17:07] bsudekum opened #24 "Publish new version"
It looks like the latest version published to [cocoapods is v0.2.10](https://cocoapods.org/pods/MapboxMobileEvents) but the version in the podspec is [v0.2.12](https://github.com/mapbox/mapbox-events-ios/blob/d0b6d5a43a765279a8a1e9c52b87225cf8e377ed/MapboxMobileEvents.podspec#L6)

/cc @boundsj @rclee

[2017-11-10 18:15] boundsj commented on #24
@rclee can you revert https://github.com/mapbox/mapbox-events-ios/commit/cec86be859b24bc9fb4d856f594402f19c2af141 to make the podspec match the published version again? That revert can close this issue and we will publish a new version when ready. The next version will be `v0.2.12` because of https://github.com/mapbox/mapbox-events-ios/releases/tag/v0.2.11

[2017-11-10 18:57] rclee commented on #24
Revert complete. See [`77b70af`](https://github.com/mapbox/mapbox-events-ios/commit/77b70af53895ffaced02c1bae2e1b2edbb2fb7f1)

[2017-11-13 17:20] bsudekum commented on #24
Sorry to harp on this, but it looks like there is a tag ([v0.2.11](https://github.com/mapbox/mapbox-events-ios/releases/tag/v0.2.11)) that is not published to cocoapods. This means users using Carthage and pods will each get a different version in mapbox-navigation-ios since carthage relies on tags.

[2017-11-13 17:39] rclee commented on #24
I'll have to defer to @boundsj, this tag was created a bit before my time.

[2017-11-13 21:42] boundsj commented on #24
Thanks for calling this out @bsudekum.

I'm going to close again since [v0.2.11](https://github.com/mapbox/mapbox-events-ios/releases/tag/v0.2.11) was tagged only to make [private a testing dependency installed via Carthage](https://github.com/mapbox/mapbox-events-ios/commit/b2665fb94581009b1395e515a340857d3e6c49b5) that was leaked downstream when Carthage was used for projects depending on this l

[2017-11-13 21:42] #24 closed, assigned to nobody

[2018-01-06 00:10] bsudekum opened #30 "Remove warnings"
In mapbox-navigation-ios, we have quite a few warnings that seemed to come about after upgrading to Swift 4.

![image](https://user-images.githubusercontent.com/1058624/34633730-e6c0f7ca-f232-11e7-951a-4facdc4f624c.png)

It'd be great to this list down a bit.

[2018-01-06 00:21] boundsj commented on #30
Thanks!

I'm closing this as a dupe of what was fixed in https://github.com/mapbox/mapbox-events-ios/pull/20.

Also a commit in #27 (https://github.com/mapbox/mapbox-events-ios/pull/27/commits/566846a029994d811d1c0fb1bdb73020d6613d80) fixes the warning about `NSProcessInfoPOwerStateDidChangeNotification` and `SecKeyCopyExternalRepresentation`.

We are focused on #27 since it is required to ship th

[2018-01-06 00:21] #30 closed, assigned to nobody

[2018-01-18 19:20] 1ec5 opened #32 "Support watchOS"
For mapbox/mapbox-navigation-ios#305, it might be desirable for this library to support watchOS as well.

[2018-01-19 21:48] boundsj commented on #32
👍  this is captured for tracking. Closing here.

[2018-01-19 21:48] #32 closed, assigned to nobody

[2018-02-22 19:46] bsudekum opened #37 "Build warnings"
[code]

![image](https://user-images.githubusercontent.com/1058624/36560602-09bb6202-17c6-11e8-8478-f2e97c32fa86.png)

Xcode version: `Version 9.2 (9C40b)`

/cc @rclee @boundsj

[2018-02-23 17:56] boundsj commented on #37
Thanks for the report. This is tracked, closing here.

[2018-02-23 17:56] #37 closed, assigned to nobody

[2018-04-27 13:19] leviathan opened #41 "Make `TrustKit` dependency explicit"
`MapboxMobileEvents` has an implicitly dependency on `TrustKit` by including it in `/vendor/TrustKit`. When using `TrustKit` in my `Cartfile`:

`Cartfile`
[code]

This results in the following compiler warning:

[code]

Could you make the `TrustKit` dependency explicit?
Maybe by adding it to the `MapboxMobileEvents` own Cartfile.

[2018-05-30 13:30] therobwatson opened #44 "UI API called from background thread (MMEEventsManager)"
I'm using Mapbox-iOS-SDK (4.0.1) which includes MapboxMobileEvents (0.4.0)

I'm seeing a Main Thread Checker warning triggered via -pauseOrResumeMetricsCollectionIfRequired, line 129 of MMEEventsManager.m, where checking self.application's state (MMEUIApplicationWrapper) is happening on a background thread.

![mmeeventsmanager_main-thread-checker-warning](https://user-images.githubusercontent.com/

[2018-06-06 16:51] simonseyer commented on #41
I'm facing the same issue. This actually leads to rather random runtime crashes because which implementation is used is not defined:

(seeing many of them when launching my app)

I saw that you also made changes to your copy of the TrustKit framework — this leads to the situation that I cannot even switch to a different TrustKit version because there is no compatible version available.

I would ap

[2018-06-06 17:04] bsudekum commented on #41
@rclee I think this could be partially resolved if TrustKit was not vendored here: https://github.com/mapbox/mapbox-events-ios/tree/master/vendor/TrustKit

Do you know the reason we vendored it instead of adding it as a dependency?

[2018-06-06 17:07] simonseyer commented on #41
Yeah, that's what I actually wanted to suggest above.

[2018-06-06 17:32] friedbunny commented on #41
I’d imagine TrustKit is checked in so that gl-native doesn’t have to be aware of this project’s dependency manager(s).

[2018-06-06 17:37] rclee commented on #41
@bsudekum We had vendored TrustKit late last year due to some packaging issues. I'll take a closer look into this and see what may be possible to resolve these crashes.

[2018-06-07 10:13] simonseyer commented on #41
I was able to work around the crash. The problem was not the duplicate lib (even though this should definitely also be solved IMO).

Instead, I think the following commit is the problem: https://github.com/mapbox/mapbox-events-ios/commit/0ec259ddc2142ea47fb5f1b9e7f2c5b340bf140a#diff-0f3841af6478cd7d8714e7e3c4f1e56f

Here it is expected, that all domains are pinned and that a pinning configuration

[2018-06-07 10:28] simonseyer commented on #41
As a quick fix removing the following block should also solve the issue: https://github.com/mapbox/mapbox-events-ios/blob/master/vendor/TrustKit/TrustKit.m#L245 It loads the Info.plist when available and this way prevents the library from getting initialized with the configuration defined in code.

[2018-06-21 19:15] nitaliano opened #46 "Add ability to override user-agent"
* Add the ability to check a plist for an user-agent value

What should the key be called `MapboxUserAgent`?

@rclee thanks :)

[2018-06-25 03:49] bsudekum opened #47 "Handle 'sharedApplication' is unavailable: not available on iOS (App Extension)"
I'm getting an error when using this library inside of an extension:

[code]

This is a pretty widespread and documented issue, [ref](https://miqu.me/blog/2016/11/28/app-extensions-xcode-and-cocoapods-omg/).

/cc @rclee

[2018-07-02 15:15] ghost opened #50 "MapBox crashes at [MGL_MMELocationManager startBackgroundTimeoutTimer] (MMELocationManager.m:158)"
We have a lot of crashes with this report.

Maybe I should mention that 2 of 3 apps work fine with the mapbox release 4.1. The app which makes problems has this property `MGLMapboxMetricsEnabledSettingShownInApp = true`

[code]

[2018-07-03 15:03] rclee commented on #50
Hi @wolfgang-moovel,

Thanks for the report and the provided detail. We're investigating this issue now -- if possible could you provide us with some steps to reproduce this crash or if you notice any patterns associated with the crash? Also, what dependencies you're using would be helpful.

[2018-07-04 08:00] ghost commented on #50
This crash is random. We could reproduce it on one device and it directly crashed after the map loaded. After 4 crashes, the app was running fine. We're still observing a high amount of crashes with the same crash report. As a result we downgraded back to Mapbox v1.8.7, where we couldn't see the crash.
Other apps with mapbox v1.4.1 are running fine. The only difference is the missing flag `MGLMapb

[2018-07-08 13:25] shebtreq commented on #50
We have the exact same issue in our app but flag "MGLMapboxMetricsEnabledSettingShownInApp": YES is missing in the info.plist file

[2018-07-09 14:58] rclee commented on #50
@wolfgang-moovel @shebtreq Are you using any other Mapbox dependencies within your applications that have experienced this crash?

[2018-07-10 03:57] lludo commented on #50
I also have the same crash. My pods are:

[code]

[2018-07-11 13:38] #46 closed, assigned to rclee

[2018-07-17 15:52] rclee commented on #50
Hi @lludo, @shebtreq, and @wolfgang-moovel

Sorry for the delay here. We're continuing to search for a solution but haven't had any luck with replicating the crash on our end. We have an experimental branch; it would be great if you could try it out and let us know if it fixes your issue.

`pod 'Mapbox-iOS-SDK', :git => 'https://github.com/mapbox/mapbox-gl-native.git', :branch => 'jrex-events-time

[2018-07-18 08:36] samuelm77 commented on #50
Same random crashes for me (iOS 11). I will try the experimental branch asap.
My Mapbox pods are:
[code]

[2018-07-18 08:56] samuelm77 commented on #50
- I added `pod 'Mapbox-iOS-SDK', :git => 'https://github.com/mapbox/mapbox-gl-native.git', :branch => 'jrex-events-timeout-handler'` in my Podfile
- I ran `pod install`
- But I then got this error: `[!] Unable to find a specification for 'Mapbox-iOS-SDK'.`

Removing Cocoapods cache does not help

[2018-07-18 13:36] friedbunny commented on #50
Unfortunately, `mapbox-gl-native` is a complex repo that CocoaPods cannot build from source, so it’s not possible to specify arbitrary git branches/hashes in a podfile — to test unmerged changes, one has to [build the SDK themselves](https://github.com/mapbox/mapbox-gl-native/blob/master/platform/ios/INSTALL.md).

[2018-07-18 13:51] rclee commented on #50
@samuelm77 I was getting a similar error when testing this myself.  You could also try running `pod setup` and see if that works for you.

[2018-07-19 08:02] samuelm77 commented on #50
@rclee I tried but that did not help.

[2018-07-19 15:13] fedeojeda95 commented on #50
I'm having exactly the same problem as @samuelm77. It showing `[!] Unable to find a specification for 'Mapbox-iOS-SDK'.`.

Installing it by defining the podspec seems to work though: `pod 'Mapbox-iOS-SDK', podspec: 'https://raw.githubusercontent.com/mapbox/mapbox-gl-native/jrex-events-timeout-handler/platform/ios/Mapbox-iOS-SDK.podspec'`.

Nevertheless, I've tried the fix and it's still crashing,

[2018-08-01 00:41] sillerjp opened #54 "Mapbox crashes randomly, normally in low gps areas or after hard closing app."
[code]

[2018-08-01 15:23] rclee commented on #54
Hi @JPSiller

Thanks for the report! We're actively investigating and believe this crash may be related to: https://github.com/mapbox/mapbox-events-ios/issues/50

Could you include a list of dependencies in your application CocoaPods or otherwise?

[2018-08-01 16:52] sillerjp commented on #54
Hi rclee,

The link doesn't work but I think I know which one are you referring too. I'm actually using Xamarin and I created bindings to the map box library. The error seems to originate in the darwin framework . Would the carthage file work for your research?

[2018-08-01 16:56] rclee commented on #54
Typo on the link, sorry.

Yes, anything to tell us what your dependencies are would be sufficient. Thanks!

[2018-08-04 01:06] sillerjp commented on #54
I noticed this happens only when I set ShowUsersLocation = true. Is this related to the merge?

[2018-08-04 01:39] sillerjp commented on #54
What version of Mapbox GL will include this fix? Currently Mapbox is version 4.2

[2018-08-04 02:06] rclee commented on #54
@JPSiller The next version (v4.3.0) should include this fix. If the crashes have become too much a hindrance then I recommend reverting to a version prior to v4.0.0 until the next Maps SDK release. Thank you for your patience.

[2018-08-04 02:20] sillerjp commented on #54
Thanks!

[2018-08-09 14:54] sillerjp commented on #54
Hi, I downloaded Mapbox 4.3.0 Beta to test if this had been fixed:

-Fixed a crash that occurred when MMELocationManager was deallocated and the delegate was reporting updates. (#12542)

I'm still getting this crash, it might be a different issue but seems related to that bug (please see stacktrack at the end of this message). To replicate it I have to do the following:

Set ShowLocation to TRUE <

[2018-08-09 22:37] rclee commented on #54
@JPSiller Sorry to hear the fix didn't work for you. We'll continue to look into this issue and keep you updated. Thanks for the detailed steps and stacktrace, that will help immensely.

[2018-08-10 16:40] sillerjp commented on #54
Thanks @rclee

I don't think downgrading to version 4 will be something we can do but I'll try and see if it works in that version. Any other info please let me know since we are looking forward to fixing this issue asap even if it requires using an alpha or beta Mapbox version

[2018-08-20 18:58] salardstn commented on #50
I have the same issue.

[2018-08-20 19:14] rclee commented on #50
This has been a tricky crash to pinpoint since we're unable to replicate on our end. We have been working with other users experiencing this issue to come to a faster solution. We will hopefully have a patch ready soon. Thank you for your patience while we work to resolve this issue.

[2018-08-20 20:54] kozyr commented on #50
Same issue for me while using 4.1.1 with Mapbox Navigation 0.18. If it helps, I've a bunch of crash reports.

[2018-08-20 23:51] friedbunny commented on #44
Reproduction for this issue: toggle Low Power mode from Control Center with Main Thread Checker enabled. (Hence `NSProcessInfoNotifyPowerState`.)

We should guard `MMEUIApplicationWrapper.applicationState` (and friends?) with a main thread check.

<hr>

This issue probably doesn’t lead to very many crashes, but I did encounter a mildly nonsensical one in Studio Preview (1.3.14, Mapbox iOS SDK 4.3.

[2018-08-21 00:11] friedbunny commented on #47
This could be addressed alongside #44, as it’s more or less the same codepath.

[2018-08-31 12:14] sillerjp commented on #54
HI @rclee any updates on this issue? Would you be able to point me to the files referenced in the crash log to see if at least we can find a clue as to what is happening and try to do a workaround or fix on our side? We still haven't been able to fix this but we have pin pointed the issue to happen exactly after:

ShowsUserLocation = true is set

It is like a location update cames through with bad

[2018-08-31 14:47] rclee commented on #54
Hi @JPSiller we'll have a beta next week for you to try with a few crash fixes that should hopefully resolve the crash you are experiencing as well. Thanks again for your patience while we work through this problem.

[2018-08-31 15:12] sillerjp commented on #54
Thanks! I'll keep you updated in case we find something in our side.

[2018-09-02 11:39] ghost commented on #50
I'm having the exact problem on 4.3.0. Is a fix coming? @rclee

[2018-09-02 12:01] ghost commented on #54
I'm eagerly waiting for this fix. We were planning a new app release and this mysterious bug appeared in the past few days out of nowhere.

[2018-09-04 12:41] rclee commented on #50
We'll be rolling out a few fixes in the next release. This should hopefully resolve all the issues we're seeing here. A beta should be available this week to try if you wish and then a release the following week. Thank you for your patience.

[2018-09-05 23:02] friedbunny opened #66 "TrustKit nullability warnings in Xcode 10/iOS 12"
We should update TrustKit to the latest version, if only to pull in https://github.com/datatheorem/TrustKit/pull/172, which fixes the following build warnings in Xcode 10:

[2018-09-06 09:49] ghost commented on #50
@rclee I installed 4.4.0 Beta 1. Still crashing 😔
![screen shot 2018-09-06 at 2 17 03 pm](https://user-images.githubusercontent.com/7237058/45149813-ae022680-b1df-11e8-8d7f-330c24f6b692.png)

[2018-09-11 13:59] sillerjp commented on #54
Hi @sdtaheri ,

for me it fixed by removing the access token key from the info.plist and setting it directly in code when necessary.

It seems related to the Mapbox Directions library rather than the main mapbox library.

This is fixed for me now. cc @rclee

[2018-09-11 14:10] rclee commented on #54
@JPSiller Sorry this version didn't work for you. We'll continue to look into this issue to come up with a more permanent solution. The information you've provided will help a lot in that regard.

Glad to hear that you found a workaround!

[2018-09-11 14:16] sillerjp commented on #54
No problem I think this is already fixed if you update the directions library but since we use Xamarin is harder for us to recreate the bindings so this workaround is pretty handy.

Thanks!

[2018-09-11 21:12] #44 closed, assigned to nobody

[2018-09-13 17:16] rclee opened #69 "Crash when network connectivity is offline"
Crash that happens when there is no network connection and the response is `nil`. Patch will come soon.

[code]

[2018-09-13 20:14] #69 closed, assigned to rclee

[2018-09-17 20:08] rclee commented on #50
We've recently released [`4.4.1`](https://github.com/mapbox/mapbox-gl-native/releases/tag/ios-v4.4.1) of the Mapbox iOS SDK. If you have the opportunity to test this new version and provide feedback then it would be appreciated. If you are also using the Navigation SDK - then please wait for the next navigation release.

[2018-09-18 15:54] frederoni opened #70 "Duplicate implementation of MMEHashProvider"
When integrating the iOS Maps SDK and mapbox-events-ios, we see the following output:
[code]

It only triggers on MMEHashProvider but I would assume all implementations are duplicated.

cc @rclee

[2018-09-21 04:30] #50 closed, assigned to rclee

[2018-09-25 18:08] rclee commented on #54
We believe this issue has been resolved in `4.4.1` patch release of the Maps SDK. Closing this ticket for now.

[2018-09-25 18:08] #54 closed, assigned to nobody

[2018-09-26 15:26] friedbunny opened #71 "ThreadSanitizer: data race TrustKit.m:51 in MGL_TSKLog"
Running the thread sanitizer on gl-native with mapbox-mobile-events at 33476cafc3669d151411a9c52d5feaaf31d628da (0.5.1) results in:

[code]

[Full log](https://163946-16286131-gh.circle-artifacts.com/0/Users/distiller/project/build/logs/xcodebuild-2018-09-25_220233.log) from [gl-native’s ios-sanitize job](https://circleci.com/gh/mapbox/mapbox-gl-native/163946#artifacts/containers/0). Though not ne

[2018-09-27 16:41] 1ec5 opened #73 "Declare that the framework defines a module"
With the new build system that’s on by default in Xcode 10, static frameworks are expected to set the `DEFINES_MODULE` build setting. As seen in mapbox/mapbox-navigation-ios#1748, CocoaPods now errors out if a static framework dependency doesn’t declare the setting. mapbox/mapbox-gl-native#12971 made this change in the map SDK. It should be safe for the standard way in which the navigation SDK dep

[2018-10-01 13:48] tezqa commented on #70
Same issue here

[2018-10-02 23:35] #70 closed, assigned to friedbunny, rclee

[2018-10-03 17:54] friedbunny commented on #70
This’ll be fixed in the `ios-v4.5.0-beta.1` release of the maps SDK.

[2018-10-11 14:22] #66 closed, assigned to nobody

[2018-10-23 08:53] frederoni commented on #73
Another report in https://github.com/mapbox/mapbox-navigation-ios/issues/1791

[2018-10-23 18:22] paul019 commented on #73
When can we expect to get an answer or an workaround to this issue? It totally prohibits to use `mapbox-navigation-ios`...

[2018-10-30 01:03] #73 closed, assigned to rclee

[2018-11-08 20:49] andrlee opened #88 "Add proper readme for mapbox-events-ios"
We need to add proper readme to mapbox-events-ios repo with setup instructions and couple of example code snippets.

[2018-11-20 01:47] friedbunny opened #91 "Fix variety of minor warnings"
Enabling `WARNING_CFLAGS = -Wunused-property-ivar -Wsemicolon-before-method-body -Wmismatched-tags -Wsign-compare` gets us a variety of warnings we should fix:

[code]

These are all trivial issues, but several of them exist in TrustKit, so we’ll have to decide on a strategy for how to fix/handle those.

/cc @rclee @andrlee @zugaldia @chloekraw

[2018-12-18 23:34] jmkiley opened #92 "Set API base URL programmatically"
It would be great if we could make `MGLMapboxAPIBaseURL` accessible via `NSUserDefaults`. Some users may need to use both `.com` and `.cn` styles in the same project. Currently, `MGLMapboxAPIBaseURL` is set in the Info.plist.

[2018-12-18 23:40] jmkiley commented on #92
Closing in favor of https://github.com/mapbox/mapbox-gl-native/issues/13605

[2018-12-18 23:40] #92 closed, assigned to nobody

[2019-02-04 23:19] friedbunny opened #96 "Stop shipping debug code in production library"
This library currently ships with a variety of debug logging and a [view controller](https://github.com/mapbox/mapbox-events-ios/blob/de7f7b978b0eaa182368068aadde54fb690b4c9d/MapboxMobileEvents/MMEEventLogReportViewController.m) to view logs. Removing these developer-only features from the consumer library results in ~20-35 KB size-savings per architecture (and apparently ~400 KB for the fat, unst

[2019-02-08 14:38] rclee commented on #96
Thanks for your foray into this @friedbunny! Certainly some burdensome code that shouldn't go to production. Hope to prioritize this soon.

[2019-02-11 18:28] alfwatt commented on #91
Same errors as: https://github.com/mapbox/mobile-telemetry/issues/283

[2019-02-12 23:47] alfwatt commented on #88
Readme updated with some examples and dependency information

[2019-02-12 23:48] #88 closed, assigned to alfwatt, rclee

[2019-02-13 00:28] alfwatt commented on #41
For Carthage we can add TrustKit to the `Cartfile`
For CocoaPods we can add TrustKit to the `podspec`
For other build systems we can add `components.sh` and some `Makefile` directives

[2019-02-19 19:00] #91 closed, assigned to rclee

[2019-02-28 09:45] friedbunny commented on #71
This is [still failing](https://circleci.com/gh/mapbox/mapbox-gl-native/236716) with the thread sanitizer as of https://github.com/mapbox/mapbox-gl-native/commit/96ec18376fb91fd857d96ecdb07db14d8a5cf4fd and https://github.com/mapbox/mapbox-gl-native/pull/13951, with a slight difference at one of the call sites:

[code]
_... per the [raw build log](https://236716-16286131-gh.circle-artifacts.com/0/

[2019-03-01 00:01] alfwatt opened #104 "Support persistence of `MMEEvent` for `telemetryMetrics` events"
For `telemetryMetrics` events to provide consistent and reliable data across host application restarts we will need to record them to local storage, potentially in their incomplete form, and read them back from storage, for adjustment or transmission.

- Implement `NSSecureCoding` for `MMEEvent` and/or a mutable subclass
- When updating metrics via the `-[MMEMetricsManager generateTelemetryMetrics

[2019-03-01 00:14] alfwatt opened #105 "Refactor `MMENSDateWrapper` to support local clock offsets and persistence"
Add class methods to `MMENSDateWrapper` to calculate and record the current clock offset based on a server response: e.g.

- `+ (NSTimeInterval) [MMENSDateWrapper recordTimeOffsetFromServerResponse:(NSDate*)responseTime]`

- `+ (NSTimeInterval) [MMENSDateWrapper serverTimeOffset]`

Add implementation of `NSCoding` and `NSSecureCoding` for #104

[2019-03-01 00:16] alfwatt commented on #105
Once this refactoring is complete, we can add our new time wrapper to our event class, and record the extra time information.

[2019-03-01 20:05] alfwatt commented on #104
Write pending event into `~/Library/Caches/com.mapbox.telemetry/pending-metrics.event`

[2019-03-11 20:45] #105 closed, assigned to alfwatt

[2019-03-22 17:00] rclee commented on #71
This should be fixed with [v0.9.1](https://github.com/mapbox/mapbox-events-ios/releases/tag/v0.9.1) by not setting the `TSKLogger`. We're not using this logger and it seemed to be what was causing the issue -- I tested this with unit tests in gl.
https://github.com/mapbox/mapbox-events-ios/pull/108#issuecomment-472953292

I'll wait for confirmation and then we can close this ticket 🤞

[2019-03-26 21:54] friedbunny commented on #71
This does appear to be fixed now, thanks. Removing the logger did end up causing https://github.com/mapbox/mapbox-gl-native/issues/14242, but that’s a separate issue.

[2019-03-26 21:54] #71 closed, assigned to rclee

[2019-03-31 03:47] parrots opened #118 "Crash when offline"
This might be related to https://github.com/mapbox/mapbox-events-ios/issues/69, but I'm seeing crashes in production when users are offline after having built with Xcode 10.2. This is with version 0.9.1.

 Specifically:
[code]

[2019-04-01 14:54] rclee commented on #118
Thanks for the report @parrots! We'll get this resolved soon, sorry for any inconvenience 🙇

[2019-04-01 19:46] alfwatt commented on #118
Fix in: https://github.com/mapbox/mapbox-events-ios/pull/119

[2019-04-02 20:25] #118 closed, assigned to nobody

[2019-04-02 20:25] alfwatt commented on #118
Fixed in 0.9.2 pending integration

[2019-04-03 17:40] 1ec5 opened #122 "Update heading orientation when device orientation changes"
When the device’s orientation changes between portrait and landscape, we need to update any CLLocationManager’s `headingOrientation` property to reflect the new device orientation. Otherwise, headings (and course readings?) may be off by up to 90°. The map SDK [updates its location manager’s heading orientation](https://github.com/mapbox/mapbox-gl-native/blob/f3c3dc49e231208e75db64b53c5e92bb9647a6

[2019-04-03 22:05] 1ec5 commented on #122
I momentarily forgot that `course` is independent of the device’s heading and therefore independent of its orientation too. Meanwhile, this library doesn’t record the heading at all, so we’re good here.

[2019-04-03 22:05] #122 closed, assigned to nobody

[2019-04-03 22:10] rclee commented on #122
We're not collecting `course` at the moment either. 😄 https://github.com/mapbox/mobile-telemetry/issues/19

[2019-04-05 00:59] alfwatt commented on #41
This will be fixed in 0.9.3 by removing the dependance on TrustKit from the framework

[2019-04-12 15:20] julianrex opened #128 "⚠️ Minor analyze warnings"
Running `analyze` in the context of mapbox-gl-native, gives a few warnings:

- `- (NSError *)statusErrorFromRequest:(NSURLRequest *)request andHTTPResponse:` can return `nil`, but is marked as returning non-null.
- False positives of leaks in `reachabilityWithHostname:` & `reachabilityWithAddress:`
- Some warnings about localized strings (which IIRC are debug?)

Can we fix or mute these?

[2019-04-12 15:33] rclee commented on #128
Thanks for reporting these @julianrex! We should really start running these checks... which has been flagged https://github.com/mapbox/mapbox-events-ios/issues/72.

@alfwatt

[2019-04-24 21:15] alfwatt commented on #41
Fixed: #126

[2019-04-24 21:15] #41 closed, assigned to alfwatt

[2019-05-02 15:53] julianrex commented on #128
See https://github.com/mapbox/mapbox-gl-native/pull/14572/commits/54078f68584fb3ea609962d1c0e4e51d4ac4464a - change to clean up the equivalent reachability warnings in the Maps SDK.

[2019-05-14 17:55] fabian-guerra opened #133 "isReachableViaWiFi always returns YES"
There are multiple calls to `[[MMEReachability reachabilityForLocalWiFi] isReachableViaWiFi]` which always returns `YES` no matter if you are on WiFi or not.

@alfwatt mentioned on Slack the the correct way should be:
`[[MMEReachability reachabilityWithHostName:@"api.mapbox.com"] isReachableViaWiFi]`

[2019-05-14 18:32] alfwatt commented on #133
Added: `+(instancetype)reachabilityForLocalWiFi MME_DEPRECATED_MSG("the resulting object isn't particularly useful");`

[2019-05-14 19:42] alfwatt commented on #133
Use `MMEEventsManager.sharedManager.baseURL.hostname` when replacing theses

[2019-06-04 21:13] #104 closed, assigned to alfwatt

[2019-06-04 21:14] #133 closed, assigned to nobody

[2019-06-07 08:05] js opened #136 "Reconsider background tracking mode impl for iOS13"
iOS 13 changes the way background location permissions work.

If I understand the current implementation correctly this is how the mapbox-events-ios SDK works
* If location auth status is authorizedAlways the SDK will startUpdating its CLLocationManager until:
** 5 minutes has passed
** OR when the user leaves a 3km wide geofence

in iOS13 the app can still ask for always access and either always

[2019-06-14 22:10] alfwatt commented on #136
@js thanks for the heads up, we've been tracking this and hope to have a fix in the SDK and Maps before iOS 13 is in public beta.

[2019-06-17 15:27] alfwatt commented on #128
Done!

[2019-06-17 15:27] #128 closed, assigned to nobody

[2019-06-27 09:50] frederoni opened #138 "Carthage chokes when compiling v0.9.4"
When Carthage tries to compile v0.9.4, it fails with the following error:
[code]

This issue isn't reproducible deterministically.

[2019-06-27 19:41] alfwatt commented on #138
Was able to build OK using our internal EventsReferenceApp and Carthage with no issues.

Please specify the version of Xcode you are using and the commit you are trying to build from.

[2019-06-28 09:47] matthiasf85 opened #150 "Crash when downgrade Mapbox GL from iOS 5.1.0 to 5.0.0"
Last call in stack trace:

[code]

Error in Console:

[code]

[2019-06-28 14:27] julianrex commented on #150
Thanks for the report @matthiaskmt - can you please post more of the call stack please, and confirm this is from `5.0.0`?

/cc @alfwatt

(Noting that this might be related to https://github.com/mapbox/mapbox-gl-native/issues/14982 - but we don't have any more info to confirm this currently.)

[2019-07-01 15:33] alfwatt commented on #138
@frederoni Were you able to get a build w Carthage?

[2019-07-01 15:51] frederoni commented on #138
Yes. I only experienced this issue once. Might have been a dirty checkout. Will re-open if I see it again.

[2019-07-01 15:51] #138 closed, assigned to frederoni

[2019-07-09 17:35] julianrex opened #146 "🐞 Info.plist should be updated for each release"
Looking at the [Info.plist](https://github.com/mapbox/mapbox-events-ios/blob/2e6bbd9f3c898f33a49e20fb97eca86eeb6351e4/MapboxMobileEvents/Info.plist)

we see

[code]

Ideally for a release the fields currently using variables would be replaced with the current info. This might be the difference between building from source, and the SDK's inclusion in gl-native the code is currently built as part of

[2019-07-09 17:47] alfwatt commented on #146
Turning on `INFOPLIST_PREPROCESS` is easy enough.

There are two 'Info.plist' files in the project:

[MapboxMobileEvents/Info.plist](https://github.com/mapbox/mapbox-events-ios/blob/2e6bbd9f3c898f33a49e20fb97eca86eeb6351e4/MapboxMobileEvents/Info.plist) is the plist for the `MapboxMobileEvents` framework target:
`INFOPLIST_FILE = MapboxMobileEvents/Info.plist`

[resources/Info.plist](https://githu

[2019-07-11 10:06] matthiasf85 commented on #150
Sorry for the delay. But here is the requested crash report
[Mapbox.crash.log](https://github.com/mapbox/mapbox-gl-native/files/3381430/Mapbox.crash.log)

[2019-07-12 21:14] lefleets opened #148 "MMELocationManagerRegionIdentifier.fence.center called at 10Hz"
Hello!

My instance of `CLLocationManager` is having its delegate method `didStartMonitoringFor region: CLRegion` called with a region identifier of `MMELocationManagerRegionIdentifier.fence.center` - to me, that means it's coming from a `CLLocationManager` instance existing on `MMELocationManager` within `MGLMapView`.

My issue is the sheer volume of calls that are made. It happens with a period

[2019-07-12 22:04] julianrex commented on #148
Thanks @lefleets - I'm going to transfer this issue to our https://github.com/mapbox/mapbox-events-ios/ repo and we can investigate further.

/cc @alfwatt

[2019-07-12 23:52] alfwatt commented on #148
Thank you for a detailed report and test case, I agree that 10Hz updates aren't expected!

Do you ever see a region monitoring update that's not immediately preceded by a location update? In my testing I see pairs, which is what I expect, the region is updated after the location is updated but not in every update case:

[code]

[2019-07-15 14:55] julianrex commented on #150
@alfwatt @rclee transferring this to mapbox-events-ios.

Looks like an event with a `nil` name - crashing `NSDictionary`'s `setObject:forKey:`.

[2019-07-15 14:55] matthiasf85 opened #149 "Crash when downgrade Mapbox GL from iOS 5.1.0 to 5.0.0"
Last call in stack trace:

[code]

Error in Console:

[code]

[2019-07-15 15:24] lefleets commented on #148
Hi! Thanks for taking a look.

So, I'm not sure if I understand your question, but I take it that you're implying the MME region is updated with new location info when `CLLocationManager` delivers location updates, and then 'restarted', or 're-added' to the regions monitored (at any rate, *overwriting* the old  MME region with the new region representing the user's new location with accompanying f

[2019-07-15 15:24] alfwatt commented on #146
Add common `Versions.h` with versions and git hash etc.

[2019-07-15 15:34] alfwatt commented on #149
If this is for development testing then you'll need to delete the app sandbox when you downgrade the Maps SDK.

[2019-07-18 16:05] alfwatt commented on #150
@matthiaskmt you'll need to remove `~/Library/Caches/com.mapbox.Mapbox` from the apps sandbox (or just delete the app from the target device) there is private API to do this in [MMEMetricsManager](https://github.com/mapbox/mapbox-events-ios/blob/d4184abf5a7eb27adc1b35ea715ac2d802956971/MapboxMobileEvents/MMEMetricsManager.m#L59)

[2019-07-18 22:42] alfwatt commented on #149
Duplicate of: #150

[2019-07-18 22:42] #149 closed, assigned to alfwatt

[2019-07-25 20:48] katiesmillie commented on #150
We are experiencing this issue on dev builds and app store builds. Sadly, several major bugs showed up after the upgrade to 5.1.0. Downgrading to 5.0.0 fixes these bugs, but we are already in the app store with 5.1.0 so I cannot push the fix.

Any ideas for a workaround to get the downgrade pushed out to our users until the 5.1.0 bugs can be resolved?

Here is a crash log: [com.urbanarchive.urban-

[2019-07-26 17:21] julianrex commented on #150
@katiesmillie re

if these are Maps SDK bugs please can you try 5.2.0 that was just released? As you may have noticed there's quite a bit of refactoring happening in the core C++ code.

[2019-07-27 12:58] katiesmillie commented on #150
@julianrex Upgrading to 5.2.0 fixed one of the bugs (which I had an open ticket for) but not the other bug. I'll send another support ticket for the outstanding bug. Thanks.

[2019-07-30 12:46] katiesmillie commented on #150
Thanks @julianrex 1 of the 2 bugs was fixed. I've sent a support email about the other one.

[2019-08-02 10:13] Novecento88 commented on #148
I can confirm that I have the same exact problem. MapBox is setting a geofence with the identifier "MMELocationManagerRegionIdentifier.fence.center" continuously.
I'm forced to use one less geofence (iOs let you set a maximum of 20 geofence) because of this problem.
And it's power inefficient: the location manager delegate "didDetermineStateFor" is continuously called because that geofence is cont

[2019-08-02 19:28] rclee commented on #148
@Novecento88 we use the geofence in order to save battery by preventing updates when devices aren't moving around, you can see in [MMELocationManager](https://github.com/mapbox/mapbox-events-ios/blob/c03b1aac75889e1e0a27c146e5ff2b0561548219/MapboxMobileEvents/MMELocationManager.m#L197) that it's updated in response to `CLLocation` updates.

Depending on how your app configures it's `CLLocationMana

[2019-08-02 20:10] rclee opened #155 "🔨 Add distance filtering when updating the geofence"
**Feature**
In order to prevent excess updates to CoreLocation delegate methods, we'd like to add distance filtering based on the center of the last created geofence.

**Customers**
Developers using MapboxMobileEvents should see a reduction in delegate calls.

**Impact**
End users may see an improvement in battery drain.

[2019-08-07 14:58] Novecento88 commented on #148
How can I disable this geofence (if possible)? (Sorry if I answer this late)

[2019-08-07 16:45] rclee commented on #148
@Novecento88 It is not possible to disable our geofence, it's necessary for battery savings.

If you haven't tried this already; I would recommend that you add a filter on your `CLLocationManager` delegate methods, using your region [identifier](https://developer.apple.com/documentation/corelocation/clregion/1423583-identifier?language=objc) ([example](https://github.com/mapbox/mapbox-events-ios/b

[2019-08-12 06:27] js commented on #136
The public release of iOS 13 is (probably) not many weeks away, any updates on this?

[2019-09-05 06:29] js commented on #136
iOS 13 is most likely being released to the public in a week, yet I have seen no intention from Mapbox to resolve this issue?

@alfwatt Could you please give us any indication as to what your plans are to resolve this issue please? It will have a pretty big negative impact on our app, and indirectly on mapbox and the (lack of) data you'll collect.

[2019-09-06 16:53] julianrex commented on #136
/cc @chloekraw @benlevin47

[2019-09-06 16:57] chloekraw commented on #136
cc: @margaretmeilee @angelanavarro

[2019-09-06 23:48] alfwatt commented on #136
@js We've been tracking the iOS 13 changes closely and have been working on an update to our telemetry collection practices. We'll provide an update as soon as possible, as we understand your concern and agree it's an important issue.

[2019-09-12 06:22] js commented on #136
@alfwatt iOS 13 will be publicly released on September 19th, in seven days, please give us ample time to submit and get our updates reviewed with your updated SDK.

[2019-09-12 21:20] alfwatt commented on #136
@js sorry we don't have a fix ready, we're discussing with our execs how to proceed. What we've seen in our testing is that the prompt in iOS 13.1 doesn't display _all_ the locations which are sent to the application but only the significant location change notifications, e.g. here's the 3-day alert for our testing app compared with the last two days worth of collection on my device:

![IMG_1902](

[2019-09-16 07:14] js commented on #136
@alfwatt Yes this matches my observations as well. But the issue here isn't really the granularity of the data collected as such, but entirely about the fact that an app will now explicitly make the user aware that it's collecting data in the background (which in itself is probably good).

In an app where background location tracking is entirely context-based (such as a workout app) and opt-in thr

[2019-09-16 13:26] js commented on #136
Also, mapbox events seems to be monitoring outside the 3000 meter geofence, as evident in in your screenshot of your "MB Events" app, which I have also observed.

The circle annotationehere roughly indicates a 3km radius around your location in the screenshot. Should it not stop collection data when exiting that region? Yet it seems like the breadcrumbs of go beyond this. I have similar iOS13 aler

[2019-09-17 08:01] js commented on #136
As I'm digging into what exactly it is mapbox is doing here, I'm not sure where I got 3000m from, it's actually when leaving a 300m radius and then it attempts to track it at most for five minutes it seems? Am I reading this and understanding that intention correctly?

The problem is that it keeps tracking the location beyond these two, a casual read through the implementation seems to point at si

[2019-09-19 15:39] julianrex opened #162 "🔨 Provide MMEEventsManager and friends for macOS, tvOS, etc."
**Feature**
Implementations of `MMEEventsManager` for other platforms, so that we can avoid the use of `#if` wrapping calls in the Maps SDK.

The method bodies could be empty for the time-being.

**Customers**
iOS Maps SDK

**Impact**
Low - more of an annoyance 😉

[2019-09-27 12:39] umverteiler commented on #136
I can confirm - at least for our App - that disabling the Mapbox Metrics (via the UserDefault `MGLMapboxMetricsEnabled`) does indeed fix the issue. Our App doesn't request "Always Permission", only "When In Use". But still our users got the warning / alert dialog under iOS 13 - disabling the Mapbox metrics from start "fixed" the issue...

[2019-09-27 19:10] alfwatt commented on #136
@ChristianSteffens if you app has either `NSLocationAlwaysAndWhenInUseUsageDescription` or `NSLocationAlwaysUsageDescription` set in it's `Info.plist` the Events SDK will attempt to collect background location.

If your app does not use background location you can remove those keys from your `Info.plist` to prevent any background location collection.

[2019-09-28 09:48] umverteiler commented on #136
🤔, i.e. the mere existence of these two (2) keys will result in background location tracking? Even if the App doesn't have the necessary permissions?

[2019-10-21 16:29] alfwatt opened #164 "🔨 Integrate MMEConfiguration into MapboxMobileEvents"
**Feature**
Integrate the MMEConfiguration work into mapbox-events-ios

**Customers**
Mapbox SDKs and Developers

**Impact**
More reliable configuration, better long term maintenance, adds adjustable configuration options.

[2019-10-22 20:11] alfwatt commented on #164
Merge to master for automated build test and updates

[2019-10-26 06:33] alfwatt opened #170 "🧪 Cedar Test Failure in MMELocationManagerTests.mm"
**Context**
Checking for region monitoring startup.

**Assertions**
file:///Users/alfwatt/Source/mapbox-events-ios/Tests/MMELocationManagerTests.mm: test failure: -[_MMELocationManagerSpec MMELocationManagerDelegate_interaction_when_the_host_app_has_always_permissions_when_location_data_are_received_tells_the_location_manager_to_start_monitoring_for_region] failed: Expected <<CLLocationManager: 0x

[2019-10-26 06:36] alfwatt opened #171 "🧪 Cedar Test Failures in MMEEventsManagerTests.mm"
**Context**
Start/Stop behavioral tests, background foreground tests,

**Assertions**
file:///Users/alfwatt/Source/mapbox-events-ios/Tests/MMEEventsManagerTests.mm: test failure: -[_MMEEventsManagerSpec _pauseOrResumeMetricsCollectionIfRequired_when_the_event_manager_is_NOT_paused_when_metrics_are_enabled_does_not_tell_its_location_manager_to_stop_updating_location] failed: Expected <Fake implemen

[2019-10-29 17:55] #164 closed, assigned to alfwatt

[2019-10-30 22:13] alfwatt opened #172 "⚠️ Resolve Static Analyzer Warnings"
**Context**
Running the static analyzer on the project reveals a number of nullability warnings.

**Assertions**
Fix warnings as needed in the code.

[code]

[2019-11-04 17:26] #172 closed, assigned to nobody

[2019-11-04 23:36] #170 closed, assigned to nobody

[2019-11-05 04:15] #171 closed, assigned to nobody

[2019-11-14 10:32] JustinGanzer commented on #150
As this "bug" is still present in Mapbox 5.5 and will be in versions going up, perhaps a 4.x version such as "4.11.3" which detects an old cache and removes it before accessing would help some people?

[2019-11-14 11:35] JustinGanzer opened #179 "🐞 [iOS] High battery usage created by overhead"
**Configuration**
 - SDK Version [5.5]
 - OS Version: [13.2.2]
 - Device: [iPhone 6S Plus, iPhone X]

**Steps to Reproduce**
- integrate Mapbox - display a MGLMapView (optional?)
- simulate the user slowly driving across the city
- no map updates, nothing else => app is completely idle but updating location data
- leave the `MGLMapboxMetricsEnabled` Userdefault at true/default

**Expected**
I expe

[2019-11-14 18:35] alfwatt commented on #179
@JustinGanzer thanks for the bug report, the periodic network activity spikes look like our telemetry system sending batches of data but we don't expect the extra overhead that you're seeing.

How did you simulate this? Using the built-in simulation tracks or a gpx file?

[2019-11-15 06:04] JustinGanzer commented on #179
Hey @alfwatt, I'm currently testing using real devices as well as gpx files recorded using an iPhone, for the simulator doesn't support battery analysis as fas as I am aware.

Now that I think about the simulation environment, our app is connected via Wifi. I'm not sure if there is a difference in time the radios stay on when compared to cellular data.

If you find any of these factors could poten

[2019-11-18 15:58] allanweir commented on #179
I'm seeing the same percentage of usage when using Mapbox and a cellular connection. Every 30 seconds the SDK is requesting a location and posting back to mapbox.com.

[2019-11-19 00:12] alfwatt opened #180 "🐞 [iOS] Crashing case in mme_eventsServiceURL"
**Configuration**
 - App Version: N/A
 - SDK Version v0.10.1-alpha
 - OS Version: Any
 - Device: Any

**Steps to Reproduce**

Code inspection shows that `mme_eventsServiceURL` does not check for the NSURL case in the Info.plist like `mme_configServiceURL`

**Expected**
No crashes when setting the events service URL

[2019-11-19 00:41] #180 closed, assigned to nobody

[2019-11-20 23:53] alfwatt opened #182 "🔨 isCNRegion/setCNRegion should be public"
**Feature**
These two calls should be make public for customers who want to toggle which set of services the Telemetry SDK uses at runtime.

**Customers**
App developers who want to serve customers who may move between the CN region and RoW

**Impact**
Additional public API endpoint.

[2019-11-21 10:15] JustinGanzer commented on #136
@alfwatt @ChristianSteffens

Beware that this will cause errors if I'm not mistaken. Because Apple identifies that MapBox has code references to the "Always" permission you'll receive a warning email from app store connect informing you that you should indeed provide these strings.

The email will read as follows:

So you either have a warning and complications with Apple or provide the necessary

[2019-11-26 03:46] #182 closed, assigned to nobody

[2019-12-13 22:33] #155 closed, assigned to rclee

[2019-12-13 22:37] rclee commented on #155
Complete: https://github.com/mapbox/mapbox-events-ios/commit/b3f7325363eb90fff1908f1fea90de230e01e92d

[2020-01-10 12:43] ghost commented on #179
Same issue here. Are you planning to fix this?
If you want to easily test, just create a new project with a blank view controller and Mapbox SDK integrated. It is not necessary to add a map view.
You will get a high battery usage.

[2020-01-13 17:57] jerilyngigigo commented on #179
Same issue happening with our app, overhead is constantly on 60%.

[2020-01-18 15:57] Cipisek123 opened #193 "🧪 Test Case Summary"
**Context**
What is the testing context?

**Assertions**
What should the test assert?

[2020-01-18 16:15] Cipisek123 opened #194 "🔨 Feature Summary"
**Feature**
What would you like to add?

**Customers**
Who will make use of the feature?

**Impact**
How will this feature impact end users of the library?

[2020-01-19 11:21] #193 closed, assigned to nobody

[2020-02-03 10:50] epologee commented on #136
It's February '20. This issue is a few months old by now, and in the mean time [NYT published their opinion piece](https://www.nytimes.com/interactive/2019/12/19/opinion/location-tracking-cell-phone.html), that moved the needle some more towards general suspicion of those three-day-pop-ups.

Have there been any developments for the Mapbox SDK, or is there a sanctioned way of disabling the region m

[2020-02-03 19:58] alfwatt commented on #136
@epologee please check out the latest information in the readme, Release 0.10.0 contains some changes to the region monitoring for iOS 13: https://github.com/mapbox/mapbox-events-ios#-foreground-and-background-location-collection

[2020-02-03 20:11] epologee commented on #136
Hi Alf, thanks for the reply. I still think this issue is a valid open one. [@JustinGanzer already mentioned that section of the readme, above](https://github.com/mapbox/mapbox-events-ios/issues/136#issuecomment-557015819). However the suggestion to remove keys from the Plist to fix this, does not apply.

- Yes, our app uses background location, asks for "always permission", and therefore has the

[2020-02-04 07:43] JustinGanzer commented on #136
@epologee Their terms are kept short and readable, though it does say

At least that is how it sounds to me and as such leaves no room for interpretation of "no requirement to do so in background" anywhere.

However the sdk is open to anyone and you're not using their service if you're hosting your own map data server or don't pull any map data from mapbox because you're not using it display a map

[2020-02-05 12:05] SjoerdPerfors commented on #136
If you use the navigator SDK which includes this one:

So you cannot simply fork it and disable this. If you need a license free navigation SDK fork an older version or use one of the existing forks.

[2020-02-06 22:03] alfwatt commented on #136
@JustinGanzer we're looking at the issue with the `CLLocationSymbols` being in the frameworks causing App Store warnings, we hope to resolve that issue in the next release.

[2020-02-18 20:55] #194 closed, assigned to nobody

[2020-02-18 20:55] alfwatt commented on #194
Invalid: please provide details for the issue

[2020-04-17 20:56] dmiluski commented on #47
Fix merged, should be available in the next release

[2020-05-05 16:33] rclee commented on #96
This has been resolved. Should be shipping with a slimmer library on the next release 🎉

[2020-05-05 16:33] #96 closed, assigned to alfwatt, rclee

[2020-05-13 14:33] RubenVot opened #207 "🐞 [iOS] Cocoa pods installation missing CoreLocation"
**Configuration**
 - SDK Version [0.39.1]
 - OS Version: [13.4]
 - Device: [Simulator]

**Steps to Reproduce**
1. Create new project
2. Add mapboxsdk
3. Run pod install

**Expected**
Project compiles

**Logging**

<img width="608" alt="Screenshot 2020-05-13 at 16 30 00" src="https://user-images.githubusercontent.com/1536171/81826032-9bed9500-9537-11ea-8cec-e272dd315d48.png">

[2020-05-13 14:41] RubenVot commented on #207
Got the project compiling replacing
```#import <CoreLocation/Corelocation.h>```
with
```@import CoreLocation ```
in MMEMetrics.h
Looks like you have a problem with your modules.

[2020-05-13 16:08] alfwatt commented on #207
@RubenVot thanks for the report, we'll have a look and see if we can get a patch release out with fixed up module imports

[2020-06-16 16:42] #150 closed, assigned to alfwatt, rclee

[2020-06-16 18:48] #47 closed, assigned to dmiluski, rclee

[2020-09-03 22:51] julianrex opened #236 "🐞 [iOS] 0.10.3 doesn't compile with Xcode 11.1"
MMEEventsManager.m has:

https://github.com/mapbox/mapbox-events-ios/blob/1478b4fb16d58554405d5ee5bf891e2066f029fd/MapboxMobileEvents/MMEEventsManager.m#L588-L593

which doesn't compile on Xcode 11.1 (and 11.3.1, haven't tried other earlier versions), due to the use of `speedAccuracy`.

We'll need to also wrap this code with the appropriate compile time check.

(11.1 is the latest version of Xcode

[2020-09-03 22:52] julianrex commented on #236
cc @nishant-karajgikar @1ec5

[2020-09-09 19:38] julianrex opened #246 "🐞 [iOS] pauseOrResumeMetricsCollectionIfRequired should call endBackgroundTask"
**Configuration**
 - App Version: ios-sdk-examples
 - SDK Version: Telemetry 0.10.2
 - OS Version: iOS 14b6
 - Device: iPhone 11 Pro simulator (Xcode 12 b6)

This may have been due to debugging and sitting on a breakpoint, but we spotted the following in the logs:

[code]

[2020-09-09 19:38] julianrex commented on #246
cc @neelmistry94

[2020-09-22 07:14] #236 closed, assigned to nobody

[2020-09-26 14:29] c941010623 commented on #246
i have some issues .....

[2020-10-09 15:23] #246 closed, assigned to vayesh

[2020-10-20 12:28] OdNairy opened #265 "🐞 [iOS] SPM doesn't compile when included in an application"
**Configuration**
 - App Version: any
 - SDK Version 0.10.5
 - OS Version: any
 - Device: any
 - Xcode: 12.1, 12.2-beta.3

**Steps to Reproduce**
1. Open existing application OR create a new one
2. Add `https://github.com/mapbox/mapbox-events-ios` SPM dependency though the native Xcode UI
3. Add `import MapboxMobileEvents` somewhere in the project
4. Try do build the app

**Expected**
`Build succe

[2020-10-28 18:24] #265 closed, assigned to nobody

[2020-12-02 03:51] alfwatt opened #271 "🐞 [iOS] `sendPendingTelemetryMerticsEvent` called in main thread, and when running in the simulator"
**Configuration**
 - SDK Version: Current
 - OS Version: Any
 - Device: Simulator

**Steps to Reproduce**
- Add `MapboxMobileEvents.framework` to an app
- Use the time profiler to analyze startup time for the app
- Notice that `sendPendingTelemetryMerticsEvent` is called and can take > 200ms to complete in the main thread

**Expected**

- MME should not impact application startup performance.

- M

[2020-12-02 03:55] #146 closed, assigned to nobody

[2020-12-02 04:03] alfwatt commented on #271
Note that we have [lazy initialization](https://github.com/mapbox/mapbox-events-ios/pull/254) in version of the SDK after [0.10.5](https://github.com/mapbox/mapbox-events-ios/releases/tag/v0.10.5)

[2020-12-03 23:03] alfwatt commented on #271
Workaround:

- delete the app being measured from the simulator or device being used for testing
  - this will remove the pending metrics event we are trying to send by deleting the apps sandbox
- on the next launch after re-installing the app via Xcode they should not see a delay on startup

[2020-12-04 21:23] #271 closed, assigned to nobody

[2021-01-18 13:43] OdNairy opened #274 "🐞 [iOS] Xcodebuild cannot build an app with MapboxMobileEvents SPM dependency"
**Configuration**
 - App Version: 1.0.0
 - SDK Version 0.10.7
 - OS Version: 11.1
 - Device: iOS Simulator

**Steps to Reproduce**
1. Add the latest `https://github.com/mapbox/mapbox-events-ios` as an SPM dependency in Xcode.
2. Try to build your project from Terminal for iOS Simulator:
    `xcodebuild -destination 'platform=iOS Simulator,name=iPhone 12'`
3. _Actual_: Build error `<unknown>:0: err

[2021-01-18 14:13] OdNairy commented on #274
Workaround: append `-derivedDataPath` argument with local path to the terminal command.
Note: you also have to include scheme parameter.
Sample for the attached project: `xcodebuild -destination 'platform=iOS Simulator,name=iPhone 12' -derivedDataPath derivedData/ -scheme TestSPMEventsBuild`

[2021-01-19 08:48] frederoni commented on #274
Sample project.zip builds fine here.
[code]

the fact that it works for you when using a different DDP indicates that it was a cache issue to begin with.
Have you tried purging `~/Library/Developer/Xcode/DerivedData`? What version of Xcode are you using and is the same toolchain selected using xcode-select?

[2021-01-19 11:40] OdNairy commented on #274
I have tried Xcode 12.2 and 12.3 as well as purging `~/Library/Developer/Xcode/DerivedData` with `rm -rf`. However, today I cannot reproduce that issue on my Mac.
Originally, it was a part of an issue inside Search SDK SPM support where MapboxMobileEvents reported missing modulemap. That issues persist.
I'll try to make a new framework with MobileEvents as a dependency.

P.S. @don1ck reproduced th

[2021-02-02 13:45] OdNairy opened #276 "🐞 [Platform] SPM integration doesn't work in Xcode 12.5"
**Configuration**
 - App Version: N/A
 - SDK Version 0.10.7, `main` branch
 - OS Version: Xcode 11.5 beta 1
 - Device: N/A

**Steps to Reproduce**
* Add Swift Package dependency in Xcode (`https://github.com/mapbox/mapbox-events-ios`)

**Expected**
* Successfully added dependency

**Logging**
Xcode error during target addition:
[code]

<img width="758" alt="Screenshot 2021-02-02 at 16 38 45" src="

[2021-02-08 08:27] #276 closed, assigned to nobody

[2021-04-16 21:04] szewah opened #279 "Frame not found MapboxMobileEvents"
**Configuration**
 - App Version: 1.0.0
 - SDK Version: 6.3.0
 - OS Version: 11.2.3
 - Device: iPhone 11

**Steps to Reproduce**
1. Added dependencies via CocoaPods as per https://docs.mapbox.com/ios/maps/guides/install/
2. Ran pod install
3. Ran build in Xcode

**Expected**
Project compiles

**Logging**
`ld: warning: directory not found for option '-F/Users/<name>/Library/Developer/Xcode/DerivedD

[2021-05-14 15:32] szewah opened #282 "Xcode 12.4 Deprecation warning"
MapboxMobileEvents v 0.10.8

`'initForReadingWithData:' is deprecated: first deprecated in iOS 12.0 - Use -initForReadingFromData:error: instead`

[2021-05-18 19:39] julianrex opened #284 "🐞 [iOS] MME cast to smaller integer type."
MME: 0.10.8

#### What is the problem you are experiencing?

[code]

cc @tobrun @tarigo

[2021-05-26 07:09] #284 closed, assigned to nobody

[2021-06-21 15:10] macdrevx opened #293 "🐞 [iOS] Background task initiated in mme_linkNSDataCategory taking too long"
**Configuration**
 - App Version: Examples App from mapbox-maps-ios
 - SDK Version: 1.0.2
 - OS Version: 14.5
 - Device: iOS Simulator

**Steps to Reproduce**
Running the Examples app. I don't remember the specific steps

**Expected**
No warning

**Logging**

[2021-08-12 16:40] julianrex opened #295 "🐞 [iOS] decodeObjectOfClass warning on iOS 15"
**Configuration**
 - App Version: Maps SDK Examples
 - SDK Version: 1.0.2
 - OS Version: iOS 15 beta
 - Device: iPod touch 7

**Steps to Reproduce**
Any app/example (on device) should trigger this, but I've been running the `Show 3D Terrain` example:

When `[unarchiver decodeObjectOfClass:MMEEvent.class forKey:NSKeyedArchiveRootObjectKey];` is called in
in `loadPendingTelemetryMetricsEvent.` We se

[2021-08-16 20:08] julianrex commented on #162
Closing as stale.

[2021-08-16 20:08] #162 closed, assigned to nobody

[2021-08-20 12:37] #293 closed, assigned to vayesh

[2021-08-23 18:51] macdrevx commented on #295
After a bit more investigation, I've identified the root cause of this issue…

In `loadPendingTelemetryMetricsEvent` which @julianrex identified above, `MMEEvent` [encodes](https://github.com/mapbox/mapbox-events-ios/blob/main/Sources/MapboxMobileEvents/MMEEvent.m#L455) its `_attributesStorage` NSDictionary. This dictionary contains numbers, strings, and possibly other types, so in the correspondi

[2021-08-23 18:58] macdrevx commented on #295
The documentation comments [indicate](https://github.com/mapbox/mapbox-events-ios/blob/main/Sources/MapboxMobileEvents/include/MMEEvent.h#L17) that attributes must be "a dictionary for which `[NSJSONSerialization isValidJSONObject:]` returns `YES`".

NSJSONSerialization's [docs](https://developer.apple.com/documentation/foundation/nsjsonserialization) indicate that the list of allowed types are:

[2021-08-23 19:01] macdrevx commented on #295
PR: https://github.com/mapbox/mapbox-events-ios/pull/297

[2021-08-23 21:02] macdrevx opened #298 "Need special support release for Maps iOS v6 + iOS 15"
We're working on a small support release for https://github.com/mapbox/mapbox-gl-native-ios for iOS 15 and Xcode 13. As part of this release, we want to adopt to the 1.x series of Mobile Events. However, we do not plan to update mapbox-gl-native-ios to support development on Apple Silicon, and its current Carthage-based development environment fails with Mobile Events 1.0.2 due to the changes in 4

[2021-08-23 21:05] #295 closed, assigned to nobody

[2021-08-27 19:45] #298 closed, assigned to nobody

[2021-08-31 06:07] roblabs opened #305 "🐞 [iOS] While integrating, receive error: double-quoted include "MMEConstants.h" in framework header, expected angle-bracketed instead"
**Configuration**
 - SDK Version `v1.0.3`
 - OS Version: `sw_vers`

ProductVersion:	11.5.2
BuildVersion:	20G95

 ---

**Steps to Reproduce**
I am integrating MapboxMobileEvents `v1.0.3` in Xcode 12.5.1 (12E507) using Swift Package Manager.  A blocking error stating

Another issue is that Xcode has _suggested fixes_ to change so the header uses angle-bracketed, `#import <MapboxMobileEvents/MMEConst

[2021-09-28 13:44] S2Ler opened #316 "🐞 [iOS] Data race during sendTurnstileEvent"
**Configuration**
 - SDK Version 1.0.4
 - Platform: iOS
 - App: [Navigation SDK for iOS Example app]

**Steps to Reproduce**
Call many `sendTurnstileEvent` events with Thread Sanitizer turned on.

**Expected**
No data races.

**Logging**
[code]

---
Mobile Telemetry [Issues Guide](https://github.com/mapbox/mobile-telemetry/blob/master/docs/issues.md)

[2021-09-29 09:56] #316 closed, assigned to nobody

[2021-10-08 14:10] roblabs commented on #305
Closing as not an issue with SPM release `1.0.5`, Xcode 13.

[2021-10-08 14:10] #305 closed, assigned to nobody

[2021-10-11 23:39] hingarn opened #321 "🐞 [iOS] Crash: NSUserDefaults+MMEConfiguration.m - Line 338"
**Configuration**
 - SDK Version 1.0.5
 - iOS Version: 14.7.1 and 14.8
 - Device: iPhone X and iPhone 11 Pro

**Steps to Reproduce**
We have Crashlytics reports from the App Store version of the app where it crashes in the SDK. I don't know the steps to reproduce since these are happening to our users in the wild. I can see, based on logs, that it happens at the launch of the app.

**Logging**
Bel

[2021-10-12 13:28] #321 closed, assigned to vayesh

[2021-10-21 17:02] azarovalex opened #327 "🐞 [iOS] Crash in -[NSUserDefaults(MME) mme_userAgentString]_block_invoke"
**Configuration**
 - App Version: [Examples for NavSDK 2.0.0](https://github.com/mapbox/mapbox-navigation-ios-examples/pull/148)
 - SDK Version 1.0.6
 - OS Version: Intel Simulator iOS 15.0 (Xcode 13)
 - Device: iPhone 13

**Steps to Reproduce**
How did you get there?
1. Build public NavSDK examples with Events library version 1.0.6.
2. Run the public example named "Electronic Horizon Events Obser

[2021-10-22 09:25] mr1sunshine commented on #327
Just for the record, I couldn't reproduce this crash in a similar environment using Intel-based simulators

[2021-10-22 18:28] 1ec5 commented on #327
Does this issue reproduce if you delete the application from the simulator (or wipe the simulator clean) and try again?

[2021-10-22 21:17] horsejockey commented on #327
We are experiencing a similar crash in our production app. This is happening around 25 times a day for us. Here is a sample log from one of the reports. Please reach out for any further information. This is a priority issue for us to resolve.

[code]

[2021-10-22 21:23] horsejockey commented on #327
Logging another similar but slightly different crash log here. Let me know if you'd like it filed as a separate issue. Note the differing exception type/subtype.

[code]

[2021-10-25 11:23] vayesh commented on #327
@horsejockey Do you use the latest MME iOS SDK (v1.0.6)?

[2021-10-25 17:37] horsejockey commented on #327
@vesh93 I see we are using v0.10.12. We haven't been able to update to Mapbox v10.

[2021-10-26 07:53] vayesh commented on #327
@horsejockey Could you update to [v0.10.13](https://github.com/mapbox/mapbox-events-ios/releases/tag/v0.10.13)? It has a fix for the crash. Please, let us know if it didn't help.

[2021-10-26 13:32] vinnyjth commented on #327
I'm still seeing this crash in the Intel iOS Simulator, Xcode 13, MapboxMaps 10.0.1, MapboxMobileEvents 1.0.6. Let me know what info I could provide to help solve. Never happens on device, but crashes 3/4 times opening the app on the sim.

![image](https://user-images.githubusercontent.com/1637694/138889546-0a424347-45c9-4adf-acaf-b743fcbdc695.png)

[2021-10-27 11:36] vayesh commented on #327
@vinnyjth Could you post what is happening in other threads (ex., `bt all` in the debugger console).

Also, if possible, could you try to run a simplified version of the crashing function in a simple app?

[code]

[2021-10-30 02:20] vinnyjth commented on #327
Here is `bt all`,  I'll follow up with the crashing function 👍
[code]

[2021-10-30 02:24] vinnyjth commented on #327
And here's the result of running the example function in an empty project.
[code]

[2021-11-02 08:40] vayesh commented on #327
@vinnyjth Thanks! Give me some time to investigate.

[2021-11-03 11:47] #274 closed, assigned to OdNairy

[2021-12-16 19:51] kleeb commented on #327
having the same issues for numerous amount of users on the 0.14.0 Mapbox Flutter plugin https://pub.dev/packages/mapbox_gl

[code]

[2022-01-04 02:56] DHLau commented on #327
I have the same issues on our production app

[2022-01-10 11:30] #327 closed, assigned to vayesh

[2022-01-10 16:35] vayesh commented on #327
Fixed in [v0.10.14](https://github.com/mapbox/mapbox-events-ios/releases/tag/v0.10.14)

[2022-03-01 21:10] gemmakbarlow opened #334 "📖 Question: Two different versioning approaches seen in Releases; clarification sought"
**Link**
https://github.com/mapbox/mapbox-events-ios/releases

**Edits**

Hi folks,

From the link above, it seems as though the repo is using different release versioning systems (i.e. `v1.0.7` vs. `v10.14.0`). By looking at dates, I can see which look to be roughly equivalent, but I'd like to better understand how to map one to another.

For context, we've ended up referencing both styles in our

[2022-03-02 17:24] vayesh commented on #334
Hi @gemmakbarlow,
Feature-wise `v1.0.x` and `v0.10.x` are the same. The difference is in the distribution model: `v0.10.x` distributed as a source dependency, so you have to build it locally, and `v1.0.x` distributed as a binary dependency.

`v1.0.x` is recommended, ex., our latest SDKs use it.
However, we are still providing updates to `v0.10.x` for customers who have not yet updated to our lates

[2022-03-02 18:27] gemmakbarlow commented on #334
Thanks for the response @vesh93.

To clarify, however - it doesn't seem as though `v1.0.7` would match `v0.10.7`, reading the release notes. (Let me know if I have this wrong!)

If that's the case, is the best approximation we can make between the two systems based on date ?

[2022-03-02 20:28] vayesh commented on #334
@gemmakbarlow
Yes, the matched versions should have the same date and similar release notes. So currently, `v1.0.7` matches `v0.10.14`.

[2022-03-02 20:30] gemmakbarlow commented on #334
Excellent, thanks for confirming.

[2022-03-04 08:48] #334 closed, assigned to vayesh

[2022-03-24 02:08] noway opened #336 "🐞 [iOS] app is killed with signal 9 when put in background"
**Configuration**
 - App Version: N/A
 - SDK Version: Mapbox-iOS-SDK 6.3.0
 - OS Version: 15.3.1
 - Device: iPhone 7 Plus

**Steps to Reproduce**
I'm using react-native-mapbox-gl and trying to play audio in background. The map is shown when the audio starts playing.

1. Start playing audio
2. Lock the phone
3. Wait about a minute or so
4. App is killed with "Message from debugger: Terminated due t

[2022-03-24 09:00] vayesh commented on #336
@noway Could you specify the version of `MapboxMobileEvents.xcframework` you are using?

[2022-03-24 20:36] noway commented on #336
@vesh93 I'm using version 0.10.13.

[2022-03-25 13:09] vayesh commented on #336
@noway Thanks. There are no similar known issues for this version. I'll investigate it and get back to you.

[2022-04-06 07:42] vayesh commented on #336
The issue is reproduced locally, looking for a fix.

[2022-04-21 11:59] #336 closed, assigned to vayesh

[2022-04-21 14:13] vayesh commented on #336
@noway The issue should be fixed in [v1.0.8](https://github.com/mapbox/mapbox-events-ios/releases/tag/v1.0.8). Could you please validate the fix?

[2022-07-05 12:05] tavakoli-ali commented on #246
I have the same problem:
    App Version:
    SDK Version: MapboxMaps 10.6.0
    OS Version: iOS 15.5
    Device: iPhone 11 Pro simulator (Xcode 13.4)

`[BackgroundTask] Background Task 153 ("Called by MapboxMobileEvents, from mme_linkNSDataCategory"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endB

[2022-09-01 13:37] azarovalex opened #345 "🐞 [iOS] Xcode shows runtime warning when calling `sendTurnstileEvent`"
**Configuration**
 - SDK Version: 1.0.8
 - Device: Xcode 14+

**Steps to Reproduce**
Run any app that uses MapboxMobileEvents in Xcode 14. This affects all applications that use Maps or Navigation SDK.

**Expected**
No warnings should be displayed.

**Logging**
Screenshots attached. The warning happens because of this line:

https://github.com/mapbox/mapbox-events-ios/blob/74def21b2f1659582017ca64

[2022-09-01 14:15] azarovalex commented on #345
Fixed here: https://github.com/mapbox/mapbox-events-ios/pull/344/files

[2022-09-01 14:15] #345 closed, assigned to nobody

[2022-09-13 20:03] MaximAlien opened #348 "🐞 [iOS]: UI thread checker warning while using Xcode 14."
**Configuration**
 - SDK Version `main` branch
 - OS Version: `iOS 16`
 - Device: `iPhone 14`

**Steps to Reproduce**
Execute such code while using Xcode 14:
[code]

**Expected**
Warning should not appear.

**Logging**
![Screen Shot 2022-09-13 at 1 02 58 PM](https://user-images.githubusercontent.com/1496498/189998212-6aaa4de7-0642-42eb-9a8b-4aa39a66597d.png)

[2022-09-22 15:26] antoinelamy opened #351 "iOS 15 warnings about implicit class unarchiving"
Starting from iOS 15, `NSKeyedUnarchiver` stated to throw warnings when unarchiving data types not included in the class set.

The following line is printing a bunch of warnings in the console:
https://github.com/mapbox/mapbox-events-ios/blob/d505e0875e3492c7fccc532bd8f99ddd1e901937/Sources/MapboxMobileEvents/MMEMetricsManager.m#L318

The warnings looks like this:
[code]

To fix this, `MMEEvent._a

[2022-09-22 15:38] antoinelamy commented on #351
Seems already fixed on `master`

[2022-09-22 15:38] #351 closed, assigned to nobody

[2022-10-25 13:35] yuriiburov commented on #279
same issue